doctype html
html
    head
        style
    body
        div
            block content
        div
            | Best regards
            br
            |
            a(href='http://google.com') Visit google
