extends templates
block content
    div
        | Hello #{userName}
        br
        | Your account has been restored
        br
        |
        a(href=`http://localhost:5000/users`) Visit Our site
