extends templates
block content
    div
        |Hello #{userName}
        br
        | Welcome to our team
        br
        |
        a(href=urlWithToken).link Conform your registration by clicking this link
