extends templates
block content
    div
        | Hello #{userName}
        br
        | Your password is changed
        br
        |
        a(href=urlWithToken) Click this link if changing password was started by you
